
*{
   
    
}
:root{

    --cor1 : #E0F5FE;
    --COR2 : #FFDFFF;
    --cor3 : #cd52c4;
   --cor4 : #03FF04;
    --cor5 : #000000;
    --cor6 : #6D4786;
    --cor7 : #29866F;
    --cor8 : #797979;
}
.login{
  background: linear-gradient(45deg, var(--cor7),var(--cor3),var(--cor6)); /*da um efeito gradenete na tela */
    font-family:  serif sans-serif;
    width: 100%;
}
.login_titulo{
    color: white;
    
    
}
.tela_login{
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute; /*centraliza apenas ao redor dos elementos */
    border-radius: 5px;
    /*centralizar a tela de login*/
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); /*para voltar -50% no eixo X e -50% no eixo Y*/
    padding: 10%;
    border-radius: 10px;
}
input{
    padding: 10px;
    border: none; /*retirando as bordas*/
    outline: none; /* retirando a linha que fica ao redor do elemento input*/
    border-radius: 5px; /*Aredondando as bordas */
    font-size: 15px; /*Aumentando a fonte */
}
button{
    border: none;
    padding: 15px; /*Distancia entre os elementos e a borda*/
    width: 100%;
    border-radius: 10px;
    font-size: 15px;
    color: black;
    cursor: pointer; /*mudar o cursor para busca */
}
button:hover{ /*hover e um pseudo-classe*/
    background-color: var(--cor3); /*muda a cor do elemento */
}
p{
    color: white;
    cursor: pointer;
    text-align: center;
}

