
*{
   
    
}
:root{

    --cor1 : #E0F5FE;
    --COR2 : #FFDFFF;
    --cor3 : #cd52c4;
    --cor4 : #03FF04;
    --cor5 : #000000;
    --cor6 : #6D4786;
    --cor7 : #29866F;
    --cor8 : #797979;
}
.login{
  background-image: linear-gradient(to left, var(--cor3),var(--cor7));
    font-family:  serif sans-serif;
}
.login_titulo{
    color: var(--cor4);
}
.tela_login{
    background-color: rgba(0, 0, 0, 0.801);
    position: absolute; /*centraliza apenas ao redor dos elementos */
    border-radius: 5px;
    /*centralizar a tela de login*/
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); /*para voltar -50% no eixo X e -50% no eixo Y*/
    padding: 10%;
}